@use "../../scss//config/functions" as *;
@use "../../scss//config/primitives" as *;

.card-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 1rem;
	align-items: center;
	width: 100%;
	padding: 0 1rem;
	height: convertToREM(300);
	margin: convertToREM(100) auto;
	perspective: convertToREM(1000);
	background-color: $grey-snow;

	.card {
		cursor: pointer;
		height: convertToREM(250);
		transition:
			transform 0.3s ease,
			z-index 0.3s ease;
		background-color: antiquewhite;
		border: 0.05rem solid $black-smouth;
		border-radius: 0.2rem;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

