@use "../../../../scss/config/primitives" as *;

.send-notice-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;

	h2 {
		margin-bottom: 20px;

		.userName {
			font-size: 1rem;
			color: $gold-yellow;
		}
	}

	.ant-form-item {
		margin-bottom: 24px;
	}

	.ant-upload-list-item-info {
		padding-right: 16px;
	}

	.container-loader {
		height: 60vh !important;
	}
}

