.send-notice-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;

	h2 {
		margin-bottom: 20px;
	}

	.ant-form-item {
		margin-bottom: 24px;
	}

	.ant-upload-list-item-info {
		padding-right: 16px;
	}
}
