@use "../../scss/config/primitives" as *;

.image-page {
	width: 100%;
	background: rgba(255, 255, 255, 0.8);

	.logo {
		width: 15rem;
		height: 15rem;
		position: absolute;
		top: 0;
		left: 0;

		g {
			g {
				g {
					#g240,
					#g236,
					#g228,
					#g224,
					#g220,
					#g216,
					#g212,
					#g208,
					#g232,
					#g244,
					#g280 {
						path {
							stroke: $gold-yellow !important;
						}
					}
				}
			}
		}
	}

	.container-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 6rem 0 2rem;

		h2 {
			font-size: 1.5rem;
			margin-bottom: 0.3rem;
			color: $gold-yellow;
			font-weight: bold;
		}

		p {
			text-align: center;
			font-size: 0.8rem;
			color: $brand-black;
			font-weight: normal;
		}
	}

	.carousel-container {
		margin-bottom: 3rem;
	}
}

@media screen and (min-width: 100px) and (max-width: 844px) {
	.image-page {
		.logo {
			display: none;
		}

		.container-text {
			margin: 2rem;
			padding: 0 0.5rem;
		}
	}
}

