@use "../../scss/animations/animations.scss" as *;
@use "../../scss/config/functions" as *;
@use "../../scss/config/primitives" as *;

.container {
	width: 100%;
	overflow-x: hidden;

	.containerImage {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		overflow: hidden;

		.containerImage1 {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}

			svg {
				width: 100%;
				height: 100%;
				position: absolute;
				top: -7rem;
				left: 0;
			}
		}
	}

	.content {
		position: absolute;
		top: 50vh;
		z-index: 2;
		margin-top: 100vh;
		background-color: $white;
		color: $brand-black;
		padding: 2rem 0;
		opacity: 0;
		transform: translateY(convertToREM(20));
		animation: fadeInUp 1s forwards;
		animation-delay: 2s;

		&.animated {
			animation: fadeInUp 1s forwards;
			animation-delay: 0s;
		}

		.content-top {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.content-top-left {
				position: relative;
				width: 70%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					border-radius: 1.5rem;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}

				.le11Vertical {
					width: 15rem;
					height: 15rem;
					position: absolute;
					top: 25%;
					left: -10rem;
					z-index: 1;
				}

				.waveLine {
					width: 15rem;
					height: 15rem;
					position: absolute;
					top: 32%;
					left: -13.5rem;
					z-index: 1;
					transform: rotate(260deg);
				}

				.le11Vertical2 {
					width: 15rem;
					height: 15rem;
					position: absolute;
					top: 45%;
					left: -10rem;
					z-index: 1;
				}

				.waveLine-extended {
					width: 15rem;
					height: 25rem;
					position: absolute;
					top: 45%;
					left: -13.5rem;
					z-index: 1;
					transform: rotate(260deg) scaleY(-1);
				}

				.le11Vertical3 {
					width: 15rem;
					height: 15rem;
					position: absolute;
					top: 65%;
					left: -7.2rem;
					z-index: 1;
				}

				.waveLine-extended-2 {
					width: 15rem;
					height: 30rem;
					position: absolute;
					top: 65%;
					left: -8.5rem;
					z-index: 1;
					transform: rotate(260deg);
				}

				.le11Vertical4 {
					width: 15rem;
					height: 15rem;
					position: absolute;
					top: 90%;
					left: -5.5rem;
					z-index: 1;
				}
			}

			.content-top-right {
				width: 50%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.content-top-right-title {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 1rem;

					h1 {
						position: relative;
						color: $brand-black;
						font-size: 2.5rem;
						font-style: italic;
						letter-spacing: 0.4rem;

						.line {
							background-color: $gold-yellow;
							position: absolute;
							bottom: 0.2rem;
							left: 0;
							height: 0.05rem;
							animation: expendLine 2.3s ease-in-out;
							animation-fill-mode: forwards;
							animation-delay: 2s;
						}
					}
				}

				.content-top-right-description {
					p {
						margin-bottom: 1rem;
						font-size: 1.2rem;
						text-align: center;

						.highLight {
							color: $gold-yellow;
							font-weight: bold;
						}

						&:nth-child(2) {
							width: calc(100% - 10rem);
							margin-left: 5rem;
						}
					}
				}
			}

			.text-content {
				width: 60%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-left: 7rem;

				p {
					margin-top: 2rem;
					font-size: 1.2rem;
					text-align: center;

					.highLight {
						color: $gold-yellow;
						font-weight: bold;
					}
				}
			}
		}
	}

	.topBar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 3rem;
		opacity: 0;
		transform: translateY(-100%);
		z-index: 3;
		animation: fadeInDown 2s forwards;
		animation-delay: 1s;
		transition: 0.3s ease-in-out;

		&.visible {
			background-color: rgba(255, 255, 255, 1);
		}

		&.hidden {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}

