@use "../../scss/config/primitives" as *;
@use "../../scss/config/functions" as *;

.container-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 2rem;

	.title-desc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-bottom: 1.5rem;

		.title {
			padding: 0 10rem;
			font-size: 1.5rem;
			font-weight: bold;
		}

		.desc {
			padding: 0 15rem;
			font-size: 1.2rem;
			font-weight: normal;
			margin-top: 0.5rem;
		}

		.final-desc {
			font-size: 1.2rem;
			font-weight: normal;
			margin-bottom: 0;
		}
	}
}

.ant-form-item-required {
	&::before {
		display: none;
	}
}

.ant-form {
	background-color: $grey-steam;
	padding: 2rem;
	border-radius: 0.5rem;
}

.ant-picker {
	width: 17rem;
}

.ant-form-item {
	margin-bottom: 0.5rem;
}

// .custom-input .ant-input:hover {
// 	border-color: $brand-black;
// }

// .custom-input .ant-input:focus {
// 	border-color: $gold-yellow;
// }

