@use "../../scss/config/primitives" as *;
@use "../../scss/config/functions" as *;

.container-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 2rem;

	.title-desc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 1.5rem;
		padding: 0 15rem;

		h1 {
			font-size: 1.5rem;
			color: $brand-black;
		}

		.desc {
			font-size: 1rem;
			margin-top: 0.5rem;
		}

		.final-text {
			display: flex;
			align-self: baseline;

			p {
				margin-top: 1rem;
				font-size: 1rem;
				color: $brand-black;

				.highLight {
					letter-spacing: 0.2rem;
					font-style: italic;
					color: $gold-yellow;
					font-weight: bold;
					font-size: 1.2rem;
				}
			}
		}
	}
}

.ant-form-item-required {
	&::before {
		display: none;
	}
}

.ant-form {
	background-color: $grey-steam;
	padding: 2rem;
	border-radius: 0.5rem;
	min-width: 500px;
}

.ant-picker {
	width: 17rem;
}

.ant-form-item {
	margin-bottom: 0.5rem;
}

// .custom-input .ant-input:hover {
// 	border-color: $brand-black;
// }

// .custom-input .ant-input:focus {
// 	border-color: $gold-yellow;
// }

@media screen and (max-width: 391px) {
	.container-contact {
		padding: 1rem;

		.title-desc {
			padding: 0;

			.title {
				font-size: 1.3rem;
			}

			.desc {
				font-size: 1rem;
			}

			.final-desc {
				font-size: 1.1rem;
			}
		}
	}

	.ant-form {
		min-width: auto;
		padding: 1rem;
	}

	.ant-btn {
		margin-left: -2rem;
	}
}

@media screen and (min-width: 391px) and (max-width: 768px) {
	.container-contact {
		padding: 2rem 4rem;

		.title-desc {
			padding: 0;

			.title {
				font-size: 1.3rem;
			}

			.desc {
				font-size: 1rem;
			}

			.final-desc {
				font-size: 1.1rem;
			}
		}
	}

	.ant-form {
		min-width: auto;
		padding: 1rem;
	}
}

