@use "../../scss/config/primitives" as *;

.containerCopyRight {
	position: absolute;
	bottom: 1.4rem;
	left: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	opacity: 1;

	svg {
		width: 1.3rem;
		height: 1.3rem;

		path {
			fill: $brand-black;
		}
	}

	.text {
		font-size: 0.9rem;
		color: $brand-black;
		margin: 0 0.5rem 0.3rem;
	}

	.ul-bottom {
		list-style: none;
		padding: 0;
		margin-top: 1.2rem;
		display: flex;
		flex-direction: row !important;

		li {
			margin: 0 1.5rem -1.5rem 1.5rem !important;

			.custom-link {
				cursor: pointer;
				font-size: 0.9rem !important;
				color: $brand-black;
				text-decoration: none;

				&:hover {
					color: $gold-yellow;
				}
			}

			&.custom-link-adress {
				margin: 0.2rem 0 0 1.5rem !important;
				font-size: 0.9rem !important;
				color: $brand-black;
			}
		}
	}
}

