@use "../../scss/config/primitives" as *;

.container-cgl {
	width: 100%;
	background-color: $smoth-white;
	position: relative;

	.logoLe11 {
		width: 15rem;
		position: absolute;
		top: -30rem;
		left: 0;
	}

	.back-home {
		position: absolute;
		top: 2rem;
		right: 2rem;

		a {
			color: $brand-black;
			cursor: pointer;
			text-decoration: none;

			&:hover {
				color: $gold-yellow;
			}
		}

		svg {
			width: 1.3rem;
			height: 1.3rem;

			path {
				fill: $brand-black;
			}
		}
	}

	.container-cgl-content {
		padding: 1rem;
		width: 100%;
		height: 58rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			margin-top: 5rem;
			font-size: 2rem;
			font-weight: bold;
			color: $brand-black;
		}

		.sub-title {
			margin-top: 1rem;
			font-size: 1rem;
			color: $brand-black;
		}

		.description {
			width: 100%;
			padding: 1rem 5rem;
			font-size: 0.9rem;
			color: $brand-black;
			margin-top: 1rem;
			// text-align: center;
		}
	}

	.footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

