@use "../../scss/config/primitives" as *;

.container-footer {
	position: relative;
	background-color: $grey-steam;
	height: 20rem;

	.footer-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;

		.footer-content-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;

			.container-logo {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;

				svg {
					height: 7rem;
					width: auto;
				}

				p {
					margin: -1rem 0 0 -3.5rem;
					font-size: 1.2rem;
					font-weight: bold;
					color: $brand-black;
				}
			}

			ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				list-style: none;
				padding: 0;
				margin-top: -0.8rem;

				li {
					cursor: pointer;
					font-size: 1.1rem;
					font-weight: normal;
					margin: 0 0 0.5rem 3rem;

					&:hover:not(.note) {
						color: $gold-yellow;
					}

					a {
						color: $brand-black;
						text-decoration: none;

						&:hover {
							color: $gold-yellow;
						}
					}
				}

				.note {
					opacity: 0.5;
				}

				.li-social {
					display: flex;
					justify-content: center;
					align-items: center;

					li,
					.container-social {
						margin-left: 0.5rem;
						padding: 0.2rem;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 0.5rem;
						background-color: $grey-snow;
						transition: background-color 0.2s ease-in-out;

						svg {
							width: 1.5rem;
							height: 1.5rem;
							fill: $brand-black;
						}

						&:hover {
							transition: background-color 0.2s ease-in-out;

							svg {
								fill: $gold-yellow;
							}
						}
					}
				}
			}
		}
	}
}

