@keyframes expendLine {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInDown {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes l13 {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes animationShine {
	to {
		background-position-x: -200%;
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-33.33%);
	}
}

